In [ ]:
import sqlite3
mydb = sqlite3.connect('myfirstdb.db') #create database

cur = mydb.cursor()   #open dbfile


cur.execute("CREATE TABLE if not exists student(id INTEGER PRIMARY KEY AUTOINCREMENT,Name TEXT,Phone TEXT,Address TEXT)")
cur.execute("CREATE TABLE if not exists parent(id INTEGER PRIMARY KEY AUTOINCREMENT,Name TEXT,Phone TEXT,Address TEXT)")

# cur.execute("insert into student(Name,Phone,Address) values('Mg1 Mg1', '123123','mandaly')")
cur.execute("insert into parent(Name,Phone,Address) values('Mg1 Mg1', '123123','mandaly')")

mydb.commit()  #data save
cur.close()

DELETE FROM tablename WHERE colname='mangday'

In [ ]:
cur = mydb.cursor()   #open dbfile

# cur.execute("deLete from student where Address='yangon'")
cur.execute("UPDATE student SET Name='Aung Aung', Address='Sagaing' WHERE id=5 ")

mydb.commit()  #data save
cur.close()

In [4]:
import sqlite3
mydb = sqlite3.connect('myfirstdb.db') #create database
cur = mydb.cursor()   #open dbfile

# SELECT col_name, ... FROM tablename
results =cur.execute("select * from student")

for i in results:
    print(i)

mydb.commit()  #data save
cur.close()

(5, 'Aung Aung', '123123', 'Sagaing')
(6, 'Mg1 Mg1', '123123', 'mandaly')
(7, 'Mg1 Mg1', '123123', 'mandaly')